.accordion button {
    color: black !important;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed) {
    background-color: rgb(200, 200, 200);
}

.form-check-input:checked {
    background-color: black;
}

.form-check-input {
    border-color: black !important;
}

.card-link,
.card-link:hover {
    color: inherit;
    text-decoration: none;
}

.card-search {
    transition: transform .5s;
    border: none !important;
}

.card-search:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3), 3px 6px 20px 0 rgba(0, 0, 0, 0.4);
}