main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* global button styling */
.btn {
    color: white;
    background-color: gray;
    border-color: black;
}

.btn:focus {
    box-shadow: none !important;
    background-color: rgb(200, 200, 200);
}

.btn:hover {
    color: white;
    background-color: rgb(200, 200, 200);
}

/* images */
.gallery-main-img,
.gallery-img,
.card-img,
.cart-img,
.carousel-main-img,
.carousel-sec-img,
.card-img-home,
.checkout-img,
.profile-img {
    object-fit: contain !important;
    max-height: 100% !important;
    -webkit-user-drag: none;
}

/* custom button depression on click */
.btn-counter {
    transition: transform .3s;
}

.btn-counter:active {
    transform: scale(0.8);
}