body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* checkout */
.form-control,
.table {
    border-color: rgb(200, 200, 200);
}

.form-control:focus {
    color: black;
    background-color: white;
    border-color: black;
    box-shadow: none;
}

.form-group {
    margin-bottom: 1rem;
}

.btn {
    color: white;
    background-color: gray;
    border-color: black;
}

.btn:focus {
    box-shadow: none !important;
    background-color: rgb(200, 200, 200);
}

.btn:hover {
    color: white;
    background-color: rgb(200, 200, 200);
}

#bankDropdown .btn {
    min-width: 7rem !important;
    background-color: white;
    color: black;
    border-color: rgb(200, 200, 200);
}

#bankDropdown .dropdown-menu {
    min-width: 7rem !important;
}

.dropdown-menu li:hover {
    background-color: rgb(200, 200, 200);
}

#idealLogo {
    height: 18px;
}

/* navbar */
nav {
    background-color: black;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: gray;
}

nav .icon:hover {
    fill: gray;
}

/* modal side animation */
.modal .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.fade.show .modal-dialog {
    right: 0;
}

/* modal */
#modalClose {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}

.close,
.btn-counter,
.counter {
    all: unset;
}

.counter {
    max-width: 3ch;
}

.modal svg:hover {
    fill: gray;
}

/* images */
.gallery-main-img,
.gallery-img,
.card-img,
.cart-img,
.carousel-main-img,
.carousel-sec-img,
.card-img-home,
.checkout-img,
.profile-img {
    object-fit: contain !important;
    max-height: 100% !important;
    -webkit-user-drag: none;
}

/* search page */
.accordion button {
    color: black !important;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed) {
    background-color: rgb(200, 200, 200);
}

.form-check-input:checked {
    background-color: black;
}

.form-check-input {
    border-color: black !important;
}

.card-link,
.card-link:hover {
    color: inherit;
    text-decoration: none;
}

.card-search {
    transition: transform .5s;
    border: none !important;
}

.card-search:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3), 3px 6px 20px 0 rgba(0, 0, 0, 0.4);
}

/* HOME PAGE */
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
    position: relative;
    opacity: 1;
    width: fit-content;
    transition: transform .3s;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    transform: scale(1.2);
}

.carousel-control-next:active,
.carousel-control-prev:active {
    transform: scale(0.8);
}

.carousel-sec-div {
    border-left: 1px rgb(200, 200, 200) solid;
}

.carousel {
    transition: transform .5s;
    border-radius: 0.75rem;
}

.carousel:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3), 3px 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.card-home {
    transition: transform .5s;
    border: none !important;
}

.card-home:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3), 3px 6px 20px 0 rgba(0, 0, 0, 0.4);
}

/* PRODUCT */
.btn-prod-plus,
.btn-prod-minus {
    transition: transform .5s;
}

.btn-prod-plus:active,
.btn-prod-minus:active {
    transform: scale(0.8);
}

.gallery-img {
    cursor: pointer;
    transition: transform .5s;
}

.gallery-img:hover {
    transform: scale(1.15);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3), 3px 6px 20px 0 rgba(0, 0, 0, 0.4);
    opacity: 0.75;
}
.gallery-img:active {
    transform: scale(1.05);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3), 3px 6px 20px 0 rgba(0, 0, 0, 0.4);
    opacity: 0.75;
}

.stars {
    position: relative;
    display: inline-block;
    color: transparent;
}

.stars:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: rgb(200, 200, 200);
}

.stars:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: black;
    overflow: hidden;
}

.stars-0:after {
    width: 0%;
}

.stars-1:after {
    width: 20%;
}

.stars-2:after {
    width: 40%;
}

.stars-3:after {
    width: 60%;
}

.stars-4:after {
    width: 80%;
}

.stars-5:after {
    width: 100;
}

.avg-review {
    top: 1.5rem;
    right: 1rem;
}


// FOOTER
footer {
    margin-top: auto;
}

footer .btn,
footer .btn:hover,
footer .btn:active,
footer .btn:focus {
    border: none;
    background-color: inherit;
}

// COUNTER OVER SHOPPING CART
[objects-in-cart-data] {
    position: relative;
    display: inline-block;
}

[objects-in-cart-data]::before {
    content: attr(objects-in-cart-data);
    position: absolute;
    top: -.3rem;
    right: -.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    color: black;
}

// ABOUT
.profile-img-div {
    float: left;
    margin: 0 20px 20px 0;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: solid 1px black;
    border-radius: 50%;
}

.profile-img {
    height: 100%;
}

.profile p {
    text-align: justify;
}

/* ACCOUNT */
.account-nav-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-90deg);
    background-repeat: no-repeat;
    background-size: 1.25rem;
}